<html>
	<head>
		<title>Kotirka's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Kotirka's Blog</a><h1>
		</div>
			
		<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>HTML -- це простий код, що інтерпретується вашим веб браузером ( таким як Chrome, Firefox чи Safari) для відображення веб сторінки для користувача.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Перед тим як завантажити усі файли, давайте перевіримо що ж буде завантажувати git (усі файли, які буде завантажувати git повинні тепер з'явитися і бути позначеними зеленим кольором).</p>
        </div>
        
	</body>
	
</html>